.personal{
	margin: 1px;
	padding: 1px 1x ;
	font-size: 20px;

}

.pdetails{
	margin: 1px;
	padding: 1px 1x ;
	font-size: 20px;


}
.courses{
	margin: 1px;
	padding: 1px 1x ;
	font-size: 20px;


}

.doc_upload{
	margin: 1px;
	padding: 1px 1x;
	font-size: 20px;

}
.experience{	
	margin: 1px;
	padding: 1px 1x ;
	font-size: 20px;

}

.experience p {
	margin: 0;
}

.end{
	margin: 1px;
	padding: 1px 1x ;
	font-size: 20px;
}